body {
  padding: 50px;
  font: 14px  "Century Gothic", "Tahoma", "Microsoft YaHei", "SimSun";}

a {color: #00B7FF;}

.SI-FILES-STYLIZED label.cabinet
{
    width: 79px;
    height: 30px;
    background: url(../images/btn-choose-file.gif) 0 0 no-repeat;
    float: left;
    clear: left;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.SI-FILES-STYLIZED label.cabinet input.file
{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.ie-attention{width: 580px;margin: 120px auto;line-height: 30px;color: black;font-size: 14px;}
.ie-attention em{font-weight: 700;color:#C40000;}

.fademe{background:#eee!important;color:#999!important;}
.commbtn{border:0;padding: 5px 12px;background: orange;cursor: pointer;font-weight: bold;color: #333;font-family: "Tahoma";font-size:12px;}
.disable-btn{background: #DDD;color: #777;cursor: not-allowed;}
.content{margin: 50px auto;width:900px;}
.content .drop-box,.content .none-exist{color: #C40000;font-size: 13px;}
.content h1,.content h2{font-size: 28px;margin: 10px 0px 30px;color: #6D79E1;font-weight: bold;font-family: "Tahoma";}
.content h2{margin: 20px 0 0;background: #666;color: #FFF;font-size: 22px;padding: 0 12px;}
.content .step{width: 20px;}
.upload-wraper,.drop-box,.download-wraper{width: 100%;height: 160px;background-color: #eee;}
.drop-box .tips{margin: 50px 200px;display: inline-block;font-size: 20px;color: #888;font-family: "Century Gothic";}
.upload-wraper{margin: 0 0px 20px;height: 50px;padding:30px 10px 30px 200px;width:690px;}
.upload-wraper .fileName{float: left;width:120px;color:#666;margin-left:8px;overflow: hidden;}
.download-wraper{padding:30px 200px;width:500px;height:30px;}
.upload-wraper .file-chooser{width:230px;float:left;}
.upload-wraper .upload-div{width:440px;float:left;}
.upload-wraper .upload-div .message{float: left;color:#C40000;margin: 10px;line-height: 24px;}
.upload-wraper .upload-div .loading{margin: 3px 10px 3px 30px;}
.download-wraper a:hover{text-decoration: none;color: #333;}
.download-wraper .download-btn{margin-left: 60px;}
#uploadForm input{clear: both;display: block; margin: 8px 0;float: left;}

.markdown,.markdown pre,.markdown code,.markdown p,.markdown strong,.markdown em {font: 13px "Century Gothic", "Tahoma", "Microsoft YaHei", "SimSun";}
.markdown strong,.markdown em{font-weight: bold;}
.markdown p{line-height: 22px;}
.markdown h1{line-height: 44px;}
.markdown h2{line-height: 44px;margin-bottom: 12px;background:none;border-bottom: 1px solid #9A9ACE;color:#333;}
.markdown h3{line-height: 30px;font-weight:700;}
.markdown pre{text-indent: 2em;color:#6D79E1;font-weight:bold!important;}
.markdown ul{padding-left: 30px;display: block;list-style-type: disc;line-height:24px;}
.markdown ol{padding-left: 30px;list-style-type: decimal;line-height:24px;}

