//-
//- User Index.
//-
//-	Author: hustcer
//- Date: 2012-05-21
//-

//-include includes/header

.content
	.content-header
		h1.header-title= title 

		p.none-exist 
			#{msg}

include includes/footer 