
//-
//- Admin Home.
//-
//-	Author: hustcer
//- Date: 2012-2-13 
//-

.content
	h1= title
	h2 1
	.drop-box#drop-box
		span.tips Drop Files Here To See Preview...

	h2 2
	.upload-wraper
		form(method="post", enctype="multipart/form-data", name="uploadForm", id="uploadForm", action="/upload", target="hiddenFrame", accept="text/plain, image/jpeg, image/png")
			div.file-chooser
				label.cabinet
					input(type="file", name="upfile1", id="upfile1", required="true", class="file")
				label.cabinet
					input(type="file", name="upfile2", id="upfile2", required="true", class="file")
				iframe.fd-hide(name='hiddenFrame', id="hidden-frame")
			div.upload-div
				input(type="submit", value="Upload", class="upload-btn commbtn")

	h2 3
	.download-wraper
		a.commbtn.preview-btn(href="javascript:;", target="_blank") View Output Html 
		a.commbtn.download-btn(href="javascript:;") DownLoad Zip Ball

script(src='/javascripts/psd2html-index-merge.js')

